﻿@model AzureCI.Models.ShowTheThingModel

@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">

    @if (Model.ShowTheThing)
    {
        <img src="~/images/@Model.GetTheThingToShow()" style="width: 640px; height: 480px" />
    }

    <form method="post">
        <input type="submit">
    </form>
</div>